.form{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30vw;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid grey;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

#button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: inherit;
  color: #1976d2;
  opacity: 0;

  &:focus,
  &:hover,
  &:active {
      opacity: 1;
}
}