html, body, #root {
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: Inter, Apple-System, Arial, Helvetica, sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

h5, h6 {
    font-weight: 400;
}
