// $BGMain: url(../../../public/BG-main.webp);

// .wrapper {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     height: 100vh;
//     min-width: 200px;
//     background: $BGMain;
//     background-size: cover;
//     color: #1976d2;
// }

.link{
    position: relative;
    text-decoration: none;
    cursor: pointer;

    &::after{
        content: "<";
        position: absolute;
        top: 2px;
        left: -20px;
    }

    &:focus,
    &:hover,
    &:active {
        color: #0861ba;
    }
}