.wrapper {
  width: 90%;
  margin: auto;
  padding: 15px;
  color: #1976d2;
}

.title{
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 15px;
}

.message{
    margin-bottom: 15px;
}

.button{
    padding: 5px;
    color: #1976d2;
}